* {
  font-family: "Arial Black", serif;
}

body {
  padding: 10px;
  background-color: chocolate;
}

.principal-container {
  text-align: center;
  background-image: url("https://images.alphacoders.com/605/605592.png");
  width: 100%;
  height: 95vh;

  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.header {
  position: fixed;
  background-color: white;
  width: 97.7vw;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  opacity: .9;
}
.body-card {
  overflow: hidden;
  overflow-y: auto;
  height: 75vh;
}

form {
  position: absolute;
  top: 60%;
  right: 0;
  left: 0;
}
h2 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
input {
  font-size: 1.5rem;
  color: white;
  background-color: #0099FF;
  text-align: center;
}
.header svg {
  top: 0;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 250px;
  background-color: white;
  cursor: pointer;
}

.card p {
  padding: 5px;
  text-align: center;
  max-height: 170px;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  max-width: 200px;
  max-height: 200px;
}

input {
  border-radius: 30px;
  border: 0;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
}
.space {
  height: 150px;
}
ol {
  text-align: center;
}

.img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  object-fit: cover;
  object-position: top;
  min-width: 100%;
  min-height: 100%;
}

.footer-contet {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-contet p{
  color: #0099FF;
  text-transform: capitalize;
}


.btns {
  display: flex;
  justify-content: center;
}
.btns button {
  display: inline-block;
  width: 100%;
}